@media (min-width: 400px) { 

body {
    display: flex;
    flex-flow: row wrap;
    font-family: 'Montserrat', sans-serif;
    color: #b3b3b3;

}

/* Left side */ 
p {
    padding: 10px;

}

.sectionAside {
   flex-wrap: wrap;
   width: 12%;
   height: 700px;
   padding-left: 20px;
   padding-right: 10px;
   background-color: 	#121212;
   font-weight: bolder;
   font-size:large;
}

.sectionAside-menu {
    padding-bottom: 18px;
}

.sectionAside-menu__playlist {
    padding-bottom: 5px;
}

i {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 15px;
}

.sectionAside-menu__playlistName {
    margin-right: 30px;
    padding-top: 25px;
    border-top: thin solid #535353;
    font-size:medium;
}


span {
    /* CHECKKK !!!!!!!!!!
    "TODO DEPLACER L'ONGLET DE SPAN"
    */ 
}


/*Footer */ 
section {
   
}

main {
   
}

footer {
   
}

audio {
   
}
}

/* Bottom/Footer*/ 
footer {
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 15%;
  background-color: #212121;
  border-top: thin solid #535353;
  color: rgba(255, 255, 255, 0.658);
  text-align: center;
}

.footer-audio {
    flex-wrap: wrap;
    width: 70%;
    padding-left: 10%;

}

.footer-audio__player {
    border-top: thick solid #535353;
    width: 30%;
    margin: 0 auto;
    
}

.footer-audio__playerLenght {
    display: flex;
}

.footer-audio__playerLenghtStart {
    flex-direction: column;
    width: 50%;
    margin-left: 20.5%;
  
  
    
}

.footer-audio__playerLenghtEnd {
    width: 50%;
    margin-right: 20.5%;
  
    
    
    
}
.footer-audio__volume {

}
